<%= render "shared/navbar" %>



<div class="jumbotron">
      <div class="container" id="intro-container">
        <h1>Welcome to Palate</h1>
        <p>Start your food journey here.</p>
      </div>
     <!--  <div class="intro-container">
      </div> -->
 </div>

<div class="container">
	 <div class="col-md-3">
	    <h2>Heading</h2>
	    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
	</div>

	 <div class="col-md-6">
	    <h2>Heading</h2>
	    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
	</div>

	 <div class="col-md-3">
	    <h2>Heading</h2>
	    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	    <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
	</div>

</div>

<footer id="footer"><ul class="icons"><li><a class="icon fa-twitter" style="cursor: pointer;"><span class="label">Twitter</span></a></li><li><a class="icon fa-facebook" style="cursor: pointer;"><span class="label">Facebook</span></a></li><li><a class="icon fa-github" style="cursor: pointer;"><span class="label">Github</span></a></li><li><a class="icon fa-linkedin" style="cursor: pointer;"><span class="label">LinkedIn</span></a></li><li><a class="icon fa-envelope" style="cursor: pointer;"><span class="label">Email</span></a></li></ul><div class="copyright"> © Untitled. All rights reserved. </div></footer>