/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.jumbotron {
	height: 591px;
	background-color: white;
	background-image: url("http://herringboneeats.com/assets/images/responsive/HERR_Food_Sandwich-1200px.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#rest-card {
	border: 2px solid black;
	padding: 20px;
	/*margin: 5px;*/
	/*background: rgba(29, 39, 38, 0.7);*/
}

.rest-image {
	width: 100%;
	height: 100%;
}

#intro-container {
  background: rgba(29, 39, 38, 0.9);
  padding: 3.5em 5em;
  position: relative;
  z-index: 2;
}

#login-container {
	width: 50%;
}

#hello {
	color: white;
}